@import "./variables";
@import "./baseline";

nav {
  @include darkText();
  display: flex;
  overflow: hidden;
  align-items: baseline;
  vertical-align: middle;
  height: 6vh;
  font-size: 3vh;

  @mixin navbarItems() {
    float: left;
    @include darkText();
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  a {
    &.navbar-brand {
      @include navbarItems();
    }
    &.nav-item {
      @include navbarItems();
    }
    &:hover {
      @include navbarItems();
      text-shadow: 1px 1px 1px $primaryBackground-mid;
    }
    &:active {
      @include navbarItems();
    }
  }

  div {
    display: flex;
    overflow: hidden;
    align-items: baseline;
    vertical-align: middle;
    height: 6vh;
    font-size: 3vh;

    &.navbar-nav,
    &.dropdown-menu {
      @include navbarItems();
    }

    a {
      &.nav-link {
        @include navbarItems();
      }
    }
  }
}
