/*=== General Theme Colors ===*/
$primaryBackground-light: hsla(105, 20%, 80%, 1);
$primaryText-light: hsla(105, 100%, 10%, 1);
$primaryBackground-mid: hsla(105, 100%, 25%, 1);
$primaryBackground-dark: hsla(105, 20%, 10%, 1);
$primaryText-mid-dark: hsla(105, 100%, 90%, 1);

$primaryButton: hsla(105, 100%, 40%, 1);
